<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHcbQlIGkk61yCyWdYDmdZWtdoV3eOuvg</string>
	<key>GCM_SENDER_ID</key>
	<string>432806220789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barberflutter1</string>
	<key>PROJECT_ID</key>
	<string>barber-860a1</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-860a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432806220789:ios:0ef43826e84cc7e10086bc</string>
</dict>
</plist>